<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>圆形导航</title>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

		<link rel="stylesheet" type="text/css" href="../css/uikit.docs.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/docs.css" />
		<link rel="stylesheet" type="text/css" href="../css/highlight.css" />
		<link rel="stylesheet" type="text/css" href="../css/uikit.css" />

		<link rel="stylesheet" type="text/css" href="../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
	</head>

	<body>
		<div class="sub-nav width95 mt15">
				<ul>
					<a href="#">
						<li>
							<span><em class="xb-icos credit-card-icon"></em></span>
							<span>请绑定你的银行卡号</span>
							<span class=" uk-position-absolute"><img src="../images/icon/icon-next.png"></span>
						</li>
					</a>
					<hr size="1" color="#C8C8C8" />
					<a href="#">
						<li>
							<span><em class="xb-icos wait-settle-icon"></em></span>
							<span>待结佣金：</span>
							<span class="fcmain  uk-position-absolute">￥26600.00</span>
							<!--<span><img src="images/next-ico1.png"></span>-->
						</li>
					</a>
					<hr size="1" color="#C8C8C8" />
					<a href="#">
						<li>
							<span><em class="xb-icos has-settle-icon"></em></span>
							<span>已结佣金</span>
							<span class="fcmain uk-position-absolute">￥26600.00</span>
							<!--<span><img src="images/next-ico1.png"></span>-->
						</li>
					</a>
				</ul>
		</div>
		<br /><br /><br />
		
		<div class="sub-nav width95 mt15">
				<ul>
					<a href="#">
						<li>
							<span><em class="xb-icos gift-icon"></em></span>
							<span>积分商城</span>
							<span class=" uk-position-absolute"><img src="../images/icon/icon-next.png"></span>
						</li>
					</a>
					
				</ul>
		</div>
	</body>

</html>