<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="utf-8">
		<title>缩略图</title>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

		<link rel="stylesheet" type="text/css" href="../css/uikit.docs.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/docs.css" />
		<link rel="stylesheet" type="text/css" href="../css/highlight.css" />
		<link rel="stylesheet" type="text/css" href="../css/uikit.css" />

		<link rel="stylesheet" type="text/css" href="../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
	</head>

	<body>
		<div class="uk-text-center " >
			<a class="uk-thumbnail uk-thumbnail-mini mt15" href="">
				<img src="../images/11.jpg" alt="" class="intIndex-thumbnail">
				<div class="uk-thumbnail-caption line2 uk-text-left f12">苹果手表 Apple </div>
				<div class="uk-text-left">
					<img src="../images/icon/icon-coins.png" class="ico-coin" />
					<span>2200</span>
					<span class="uk-float-right bgccc fcwhite f9 inventory">库存11</span>
				</div>
			</a>
			<a class="uk-thumbnail uk-thumbnail-mini mt15" href="">
				<img src="../images/12.jpg" alt="" class="intIndex-thumbnail">
				<div class="uk-thumbnail-caption line2 uk-text-left f12">【七夕好礼】费列罗巧克力礼盒榛果金沙果仁 榛果威化巧克力T30 七夕情人节送女友</div>
				<div class="uk-text-left">
					<img src="../images/icon/icon-coins.png" class="ico-coin" />
					<span>2200</span>
					<span class="uk-float-right bgccc fcwhite f9 inventory">库存11</span>
				</div>
			</a>
			<a class="uk-thumbnail uk-thumbnail-mini mt15" href="">
				<img src="../images/11.jpg" alt="" class="intIndex-thumbnail">
				<div class="uk-thumbnail-caption line2 uk-text-left f12">苹果手表 Apple </div>
				<div class="uk-text-left">
					<img src="../images/icon/icon-coins.png" class="ico-coin" />
					<span>2200</span>
					<span class="uk-float-right bgccc fcwhite f9 inventory">库存11</span>
				</div>
			</a>
			<a class="uk-thumbnail uk-thumbnail-mini mt15" href="">
				<img src="../images/12.jpg" alt="" class="intIndex-thumbnail">
				<div class="uk-thumbnail-caption line2 uk-text-left f12">【七夕好礼】费列罗巧克力礼盒榛果金沙果仁 榛果威化巧克力T30 七夕情人节送女友</div>
				<div class="uk-text-left">
					<img src="../images/icon/icon-coins.png" class="ico-coin" />
					<span>2200</span>
					<span class="uk-float-right bgccc fcwhite f9 inventory">库存11</span>
				</div>
			</a>
		</div>
	</body>

</html>